POSTGRES_DB=smart_shift_db
POSTGRES_USER=smart_shift
POSTGRES_PASSWORD=smart_shift_password
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=3000
JWT_SECRET=replace-with-a-random-secret-at-least-32-bytes
JWT_ACCESS_TOKEN_EXPIRATION=PT1H
BOOTSTRAP_ADMIN_ENABLED=true
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=Admin@123456
LARK_ENABLED=false
LARK_WEBHOOK_URL=
LARK_WEBHOOK_SECRET=
LARK_APP_ENABLED=false
LARK_APP_ID=
LARK_APP_SECRET=
LARK_API_BASE_URL=https://open.larksuite.com/open-apis
SMART_SHIFT_PUBLIC_URL=http://localhost:3000
LARK_MAX_ATTEMPTS=3
LARK_RETRY_DELAY=PT30S
